$border_opacity: if($contrast == 'high', .5, .15);
$thin_border_opacity: if($contrast == 'high', .25, .05);
$focus_border_opacity: if($contrast == 'high', 0.8, 0.5);



//add legacy color definitons
$bg_color: #e8ecf6;
$base_color: #ffffff;
$fg_color:  #000;
$borders_color:   #707070;
$selected_fg_color: #ffffff;
$selected_bg_color:  #3399FF;
//

// Colors from _defaults.scss

$accent_bg_color: $blue_3;
$accent_fg_color:  white;
$accent_color: $blue_4;

$destructive_bg_color: $red_3;
$destructive_fg_color:  white;
$destructive_color: $red_5;

$success_bg_color: $green_4;
$success_fg_color: white;
$success_color: $green_5;

$warning_bg_color: $yellow_5;
$warning_fg_color: rgba(0, 0, 0, 0.8);
$warning_color: #ae7b03;

$error_bg_color: $red_3;
$error_fg_color: white;
$error_color: $red_4;

$window_bg_color: #e8ecf6;
$window_fg_color:  #000;


$view_bg_color: white;
$view_fg_color: black;

$headerbar_bg_color:  #b5cee7;
$headerbar_fg_color: rgba(0, 0, 0, 0.8);
$headerbar_border_color: rgba(0, 0, 0, 0.8);
$headerbar_backdrop_color: $window_bg_color;
$headerbar_shade_color: rgba(0, 0, 0, 0.07);

$card_bg_color: #ffffff;
$card_fg_color: rgba(0, 0, 0, 0.8);
$card_shade_color: rgba(0, 0, 0, 0.07);

//menu_bg_color
$popover_bg_color: #f0f0f0;
$popover_fg_color: rgba(0, 0, 0, 0.8);

$shade_color: rgba(0, 0, 0, 0.07);
$scrollbar_outline_color: white;

// Other colors

$border_color: gtkalpha(currentColor, $border_opacity);
$thin_border_color: gtkalpha(currentColor, $thin_border_opacity);
$link_color: $accent_color;
$link_visited_color: gtkmix($accent_color, $view_fg_color, 80%);

$view_hover_color: gtkalpha(currentColor, .07);
$view_active_color: gtkalpha(currentColor, .16);
$view_selected_color: gtkalpha(currentColor, .1);
$view_selected_hover_color: gtkalpha(currentColor, .13);
$view_selected_active_color: gtkalpha(currentColor, .19);

$trough_color: gtkalpha(currentColor, .15);
$trough_hover_color: gtkalpha(currentColor, .2);
$trough_active_color: gtkalpha(currentColor, .25);

$fill_color: $accent_bg_color;
$fill_text_color: $accent_fg_color;

$slider_color: gtkmix(white, $view_bg_color, 80%);
$slider_hover_color: white;

$osd_fg_color: transparentize(white, .1);
$osd_text_color: white;
$osd_bg_color: transparentize(black, 0.3);
$osd_fill_bg_color: transparentize(white, .25);
$osd_fill_fg_color: transparentize(black, .25);
$osd_focus_color: transparentize(white, .5);
$osd_link_color: gtkmix($accent_bg_color, $osd_text_color, 50%);
$osd_link_visited_color: gtkmix($accent_bg_color, $osd_text_color, 75%);

$tooltip_border_color: transparentize(white, 0.9);
$shadow_color: transparentize(black, 0.9);

$drop_target_color: $accent_bg_color;

$window_outline_color: transparentize(white, .9);

//special cased widget colors
$focus_border_color:  gtkalpha($accent_color, $focus_border_opacity);
$dim_label_opacity: 0.55;
$dimmer_opacity: 0.3;
$disabled_opacity: 0.5;
$strong_disabled_opacity: 0.3;

// High Contrast color overrides
@if $contrast == 'high' {
  $dim_label_opacity: 0.9;
  $dimmer_opacity: 0.8;
  $disabled_opacity: 0.4;

  $trough_color: gtkalpha(currentColor, .3);
  $trough_hover_color: gtkalpha(currentColor, .4);
  $trough_active_color: gtkalpha(currentColor, .5);
  $window_outline_color: transparentize(white, .7);
}
