checkbutton {
  border-spacing: 4px;
  border-radius: 0px;
  transition: $focus_transition;
  padding: 3px;

  @include focus-ring();

  .osd &:focus:focus-visible {
    outline-color: $osd_focus_color;
  }

  &.text-button {
    // this is for a nice focus on check and radios text
    padding: 4px;
  }
}

check,
radio {
  min-height: 10px;
  min-width: 10px;
  -gtk-icon-size: 9px;
  padding: 3px;
      background-image: linear-gradient(to bottom, #d5d5d5, #fcfcfc);
              color: #042271;



    box-shadow: inset 0 0 0 1px  $borders_color;

  &:not(:checked):not(:indeterminate):hover {
        background-image: linear-gradient(to bottom, #79c6f9, #e2f5fe);


    &:active {
      @if $contrast == 'high' {
        background-color: gtkalpha(currentColor, .6);
      } @else {
        background-color: $trough_active_color;
      }
    }
  }

  &:checked,
  &:indeterminate {
    background-color: $fill_color;
       color: #042271;
    box-shadow: inset 0 0 0 1px  $borders_color;

    &:hover {
        background-image: linear-gradient(to bottom, #79c6f9, #e2f5fe);

      &:active { }
    }
  }

  &:disabled {
    filter: opacity($disabled_opacity);
  }

  .osd & {
    &:checked,
    &:indeterminate {
      background-color: $osd_fill_bg_color;
      color: $osd_fill_fg_color;
    }
  }
}

check {
  border-radius: 0px;

  &:checked { -gtk-icon-source: -gtk-scaled(-gtk-recolor(url("assets/check-symbolic.symbolic.png")),
                                            -gtk-recolor(url("assets/check@2-symbolic.symbolic.png"))); }
}

radio {
  border-radius: 100%;

  &:checked { -gtk-icon-source: -gtk-scaled(-gtk-recolor(url("assets/bullet-symbolic.symbolic.png")),
                                            -gtk-recolor(url("assets/bullet@2-symbolic.symbolic.png"))); }
}

check, radio {
  &:indeterminate { -gtk-icon-source: -gtk-scaled(-gtk-recolor(url("assets/dash-symbolic.symbolic.png")),
                                                  -gtk-recolor(url("assets/dash@2-symbolic.symbolic.png"))); }
}

checkbutton.selection-mode {
  border-radius: 100px;

  check, radio {
    padding: 7px;
    border-radius: 100px;
  }

  label {
    &:dir(ltr) { margin-right: 6px; }
    &:dir(rtl) { margin-left: 6px; }
  }
}
