.toolbar button {
  margin: 1px;
  border-style: solid;
  border-color: rgba(0,0,0,0.0);
  background-image: none;

  &:hover {   color: $fg_color;
        background-image: linear-gradient(to bottom,
                                  #eaf6fd, 
                                  #d9f0fc 50%,
                                  #bee6fd 51%,
                                  #a7d9f5
                                  );
    box-shadow: inset 0 1px transparentize(white, 0.5),
                inset 0 -1px transparentize(white, 0.5),
                inset 1px 0 transparentize(white, 0.5),
                inset -1px 0px transparentize(white, 0.5);
                border-width: 1px;
     border-style: solid;
           border-color: $borders_color; }
  //&:active { @include button('active'); }
 // &:disabled { @include button('insensitive'); }
 // &:backdrop { @include button('backdrop'); }
 // &:backdrop:disabled { @include button('backdrop-insensitive'); }
}


  @at-root %tool_button_basic_flat {
    background: transparent;
    @include focus-ring();
    transition: $button_transition;

    .osd &:focus:focus-visible {
      outline-color: $osd_focus_color;
    }

    box-shadow: none;

    @if $contrast == 'high' {
      &:hover,
      &.keyboard-activating,
      &:active,
      &:checked {
        box-shadow: inset 0 0 0 1px $border_color;
      }
    }

    &:hover {
     background-image: linear-gradient(to bottom,
                                  #eaf6fd, 
                                  #d9f0fc 50%,
                                  #bee6fd 51%,
                                  #a7d9f5
                                  );
    border-style: solid;
    border-radius: 2px;
           border-color: $borders_color; 
    box-shadow: inset 0 1px transparentize(white, 0.5),
                inset 0 -1px transparentize(white, 0.5),
                inset 1px 0 transparentize(white, 0.5),
                inset -1px 0px transparentize(white, 0.5);
                border-width: 1px;
    }

    &.keyboard-activating,
    &:active {
      background: $view_active_color;
    }

    &:checked {
      background: $view_selected_color;

      &:hover {
        background: $view_selected_hover_color;
      }

      &.keyboard-activating,
      &:active {
        background: $view_selected_active_color;
      }
    }

    &:disabled:not(:checked) {
      filter: opacity($strong_disabled_opacity);
    }

    // Specificity bump
    &:drop(active) {
      @extend %button_basic_drop_active;
    }
  }


%toolbar {

   button{
    min-height: 15px;
   }

  button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) {
    &.arrow-button,
    &.image-button,
    &.image-text-button {
      @extend %tool_button_basic_flat;
   } 
  }

  &.osd button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) {
    &:focus:focus-visible {
      outline-color: $osd_focus_color;
    }
  }

  menubutton:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) {
    &.image-button > button {
      @extend %button_basic_flat;
    }
  }

  .linked button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) {
    &.arrow-button,
    &.image-button,
    &.image-text-button {
      @extend %button_basic_raised;
    }
  }

  menubutton.raised > button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) {
    &.arrow-button,
    &.image-button,
    &.image-text-button {
      @extend %button_basic_raised;
    }
  }

  menubutton.suggested-action,
  menubutton.destructive-action,
  menubutton.opaque {
    > button:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) {
      @extend %opaque_button;

      color: inherit;
      background-color: transparent;
    }
  }

  splitbutton {
    // Specificity bump
    > separator.vertical {
      margin-top: 6px;
      margin-bottom: 6px;
    }

    &:not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) {
      @extend %flat_split_button;
    }
  }

  // add vertical margins to common widgets on toolbars to avoid them spanning
  // the whole height
  entry,
  spinbutton,
  splitbutton,
  separator:not(.sidebar),
  button,
  menubutton,
  scalebutton {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  // Reset margins for buttons inside menubutton
  menubutton > button,
  splitbutton > button,
  splitbutton > menubutton,
  scalebutton > button {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  switch {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  // Reset styles for popovers
  popover {
    button:not(.flat):not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) {
      &.arrow-button,
      &.image-button,
      &.image-text-button {
        @extend %button_basic_raised;
      }
    }

    menubutton:not(.flat):not(.raised):not(.suggested-action):not(.destructive-action):not(.opaque) {
      &.image-button > button {
        @extend %button_basic_raised;
      }
    }

    entry,
    spinbutton,
    splitbutton,
    separator:not(.sidebar),
    button,
    menubutton,
    scalebutton,
    switch {
      margin-top: 0;
      margin-bottom: 0;
    }

    &.menu separator:not(.sidebar) {
      margin-top: 6px;
      margin-bottom: 6px;
    }
  }
}

.toolbar {
  padding: 0 6px;
  border-spacing: 6px;
 
  @extend %toolbar;
  background-image: linear-gradient(to bottom, #d3daed, #e1e6f6);
  border-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: $borders_color;
  // stand-alone OSD toolbars
  &.osd {
    padding: 6px 12px;
    border-radius: $card_radius;
  }
}

// oldstyle toolbar buttons 







/****************
 * GtkSearchBar *
 ****************/

searchbar {
  &:not(.inline) > revealer > box {
    background-color: $headerbar_bg_color;
    color: $headerbar_fg_color;
    box-shadow: inset 0 -1px $headerbar_border_color;
    padding-bottom: 1px;

    &:backdrop {
      background-color: $headerbar_backdrop_color;
      transition: $backdrop_transition;
    }
  }

  > revealer > box {
    padding: 0px 6px;
    border-spacing: 6px;

    @extend %toolbar;

   .close {
      min-width: 18px;
      min-height: 18px;
      padding: 4px;
      border-radius: 50%;
      @extend %button_basic_flat;
    }
  }
}

/****************
 * GtkActionBar *
 ****************/

actionbar > revealer > box {
  padding: 1px 6px 0px 6px;
  box-shadow: inset 0 1px $border_color;
  @extend %toolbar;

  &, > box.start, > box.end {
    border-spacing: 6px;
  }
}

/**************
 * GtkInfoBar *
 **************/

infobar {
  > revealer > box {
    padding: 8px 8px 9px 8px;
    border-spacing: 12px;
    box-shadow: inset 0 -1px $border_color;
  }

  &.action:hover > revealer > box {
    background-image: image(gtkalpha(currentColor, .05));
  }

  &.action:hover:active > revealer > box {
    background-image: image(gtkalpha(currentColor, .1));
  }

  @each $i_type, $i_color in (info, $accent_bg_color),
                             (question, $accent_bg_color),
                             (warning, $warning_bg_color),
                             (error, $error_bg_color) {
    &.#{$i_type} > revealer > box {
      background-color: gtkmix($i_color, $window_bg_color, 30%);
      color: $window_fg_color;
    }
  }

 .close {
    min-width: 18px;
    min-height: 18px;
    padding: 4px;
    border-radius: 50%;
    @extend %button_basic_flat;
  }
}


//blx

button.maximize {
margin-left: 1px;
margin-right: 1px;
min-height: 13px;
padding-top: 0px;
padding-bottom: 0px;
padding-left: 5px;
padding-right: 5px;
border-radius: 3px;
color: white;
-gtk-icon-shadow: 0 1px $borders_color, 1px 0px $borders_color, 0 -1px $borders_color, -1px 0 $borders_color;
&,&:active{
 background-image: linear-gradient(to bottom,
                                  #baccd6, 
                                  #87abb7 50%,
                                  #5e8596 51%,
                                  #749ab1
                                  );
border-color: $borders_color;
box-shadow: inset 0 1px transparentize(white, 0.5),
                inset 0 -1px transparentize(white, 0.5),
                inset 1px 0 transparentize(white, 0.5),
                inset -1px 0px transparentize(white, 0.5);

}

&:hover{
 background-image: linear-gradient(to bottom,
                                  #a9cde7, 
                                  #88b8da 50%,
                                  #2882bc 51%,
                                  #36a6cf
                                  );
border-color: $borders_color;
box-shadow: inset 0 1px transparentize(white, 0.5),
                inset 0 -1px transparentize(white, 0.5),
                inset 1px 0 transparentize(white, 0.5),
                inset -1px 0px transparentize(white, 0.5);
}
&:backdrop {
background-color:#bed4e9;
border-color: $borders_color;
box-shadow: inset 0 1px transparentize(white, 0.5),
                inset 0 -1px transparentize(white, 0.5),
                inset 1px 0 transparentize(white, 0.5),
                inset -1px 0px transparentize(white, 0.5);}
&:active:hover { 
background-image: linear-gradient(to bottom,
                                  #99b4c6, 
                                  #5d86a4 50%,
                                  #0b415d 51%,
                                  #1c9daa
                                  );
border-color: $borders_color;
box-shadow: inset 0 1px transparentize(white, 0.5),
                inset 0 -1px transparentize(white, 0.5),
                inset 1px 0 transparentize(white, 0.5),
                inset -1px 0px transparentize(white, 0.5);}
}


button.minimize {
margin-left: 1px;
margin-right: 1px;
min-height: 13px;
padding-top: 0px;
padding-bottom: 0px;
padding-left: 5px;
padding-right: 5px;
border-radius: 3px;
color: white;
-gtk-icon-shadow: 0 1px $borders_color, 1px 0px $borders_color, 0 -1px $borders_color, -1px 0 $borders_color;
&,&:active{
 background-image: linear-gradient(to bottom,
                                  #baccd6, 
                                  #87abb7 50%,
                                  #5e8596 51%,
                                  #749ab1
                                  );
border-color: $borders_color;
box-shadow: inset 0 1px transparentize(white, 0.5),
                inset 0 -1px transparentize(white, 0.5),
                inset 1px 0 transparentize(white, 0.5),
                inset -1px 0px transparentize(white, 0.5);

}

&:hover{
 background-image: linear-gradient(to bottom,
                                  #a9cde7, 
                                  #88b8da 50%,
                                  #2882bc 51%,
                                  #36a6cf
                                  );
border-color: $borders_color;
box-shadow: inset 0 1px transparentize(white, 0.5),
                inset 0 -1px transparentize(white, 0.5),
                inset 1px 0 transparentize(white, 0.5),
                inset -1px 0px transparentize(white, 0.5);
}
&:backdrop {
background-color:#bed4e9;
border-color: $borders_color;
box-shadow: inset 0 1px transparentize(white, 0.5),
                inset 0 -1px transparentize(white, 0.5),
                inset 1px 0 transparentize(white, 0.5),
                inset -1px 0px transparentize(white, 0.5);}
&:active:hover { 
background-image: linear-gradient(to bottom,
                                  #99b4c6, 
                                  #5d86a4 50%,
                                  #0b415d 51%,
                                  #1c9daa
                                  );
border-color: $borders_color;
box-shadow: inset 0 1px transparentize(white, 0.5),
                inset 0 -1px transparentize(white, 0.5),
                inset 1px 0 transparentize(white, 0.5),
                inset -1px 0px transparentize(white, 0.5);}
}

button.close {
margin-left: 1px;
margin-right: 6px;
min-height: 13px;
padding-top: 0px;
padding-bottom: 0px;
padding-left: 5px;
padding-right: 5px;
border-radius: 3px;
color: white;
-gtk-icon-shadow: 0 1px $borders_color, 1px 0px $borders_color, 0 -1px $borders_color, -1px 0 $borders_color;
&,&:active{
  background-image: linear-gradient(to bottom, 
                     #E9A99CFF, 
                     #E6A395FF 16.67%,
                     #E49D90FF 25.00%,
                     #E1998BFF 33.33%,
                     #DF9587FF 41.67%,
                     #B8432CFF 50.00%,
                     #BB4A33FF 58.33%,
                     #BF533EFF 66.67%,
                     #C45E4AFF 75.00%,
                     #C96A57FF 83.33%,
                     #CE7564FF 91.67%,
                      #D27E6FFF); 
border-color: $borders_color;
box-shadow: inset 0 1px transparentize(white, 0.5),
                inset 0 -1px transparentize(white, 0.5),
                inset 1px 0 transparentize(white, 0.5),
                inset -1px 0px transparentize(white, 0.5);

}

&:hover{
  background-image: linear-gradient(to bottom, 
                     #FCC8BFFF, 
                     #FBC4B9FF 8.33%,
                     #FBBDB3FF 16.67%,
                     #FBB6AAFF 25.00%,
                     #FAAFA1FF 33.33%,
                     #F7A395FF 41.67%,
                     #D63F2EF0 50.00%,
                     #D4300BFF 58.33%,
                     #D84217FF 66.67%,
                     #DB5725FF 75.00%,
                     #DF6D34FF 83.33%,
                     #E38141FF 91.67%,
                     #E5924DFF); 
border-color: $borders_color;
box-shadow: inset 0 1px transparentize(white, 0.5),
                inset 0 -1px transparentize(white, 0.5),
                inset 1px 0 transparentize(white, 0.5),
                inset -1px 0px transparentize(white, 0.5);
}
&:backdrop {
background-color:#bed4e9;
border-color: $borders_color;
box-shadow: inset 0 1px transparentize(white, 0.5),
                inset 0 -1px transparentize(white, 0.5),
                inset 1px 0 transparentize(white, 0.5),
                inset -1px 0px transparentize(white, 0.5);}
&:active:hover { 
 background-image: linear-gradient(to bottom, 
                     #DC867AFF, 
                     #DB7F73FF 8.33%,
                     #D8766BFF 16.67%,
                     #D66A61FF 25.00%,
                     #D36158FF 33.33%,
                     #CE5C54FF 41.67%,
                     #8F1919FF 50.00%,
                     #870006FF 58.33%,
                     #870105FF 66.67%,
                     #8A0C01FF 75.00%,
                     #A71C01FF 83.33%,
                     #C64213FF 91.67%,
                     #DB6E2EFF); 

border-color: $borders_color;
box-shadow: inset 0 1px transparentize(white, 0.5),
                inset 0 -1px transparentize(white, 0.5),
                inset 1px 0 transparentize(white, 0.5),
                inset -1px 0px transparentize(white, 0.5);}
}


